
 

.tag-editor {
   width: 100%;
   overflow: hidden;
   outline: 1px solid #c8ccd0;

   background-color: #FFF;
   position: relative;
   overflow: hidden;
   white-space: nowrap;
   height: 40px;
}

.tags {
   float: left;
}

.each-tag {
  display: inline-block; color: #39739d;  margin: 7px 0 0 5px;
    background-color: #E1ECF4; padding: 5px;     font-size: 13px;
        border-radius: 3px;
}

#tag-input {
   width: 100%; height: 100%;
   overflow: hidden;
     border: none;
     padding-left: 10px;
     color: #737373;
     outline:none;
     margin-top: 0px;
}
.input-wrap {
   display: block;
   overflow: hidden;
   height: 100%;
}

span.del-tag {
  width: 10px;  margin: 1px 2px 0 7px; border-radius: 4px;
  cursor: pointer; background: #2581c3; padding: 2px 5px 2px 0px;
    text-align: center;

}
span.del-tag::after {
  font-size: 11px; position: relative; top: 0px;
  content: "✖"; color: white;
}


#enter {
  margin-top: 10px;
}



html, body {
  min-width: 100%; min-height: 100%;
  background: #e9ebee; display:block;
}
body {
overflow: auto;
}


.navbar {
  border-radius: 0px; background: #3b5998; border: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
     color: white;
}



.title {
  padding-bottom: 15px;
}

/* home articles page */

 .add-post {
   margin-bottom: 20px;
 }

.post {
  margin-bottom: 20px; background: white; padding: 7px;
  padding-left: 20px; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

/* author area */

.author-area {
  overflow: auto; padding: 7px;
  border-bottom: 1px solid #e0e0e0;
}

.post-author, .post-date {
 font-size: 14px; width: 50%; float: left;
}
h3.post-date {
text-align: right; float: right;
}

/* body area */

.author-body {
  overflow: auto; padding: 13px 7px 7px 7px;
}
.author-body p {
color: #958a8a;
}
.author-body ul {
  margin-top: 12px;
}

li.tag {
    border: 1px solid #cfdeff;  white-space:nowrap;
    display: inline-block; padding: 5px; border-radius: 4px;
}
